{% extends 'base.html'%}
{% block title%} St.Kizito -- Announcements  {% endblock %}
{% block content %}
<div class="container">
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{post}}</h5>
          <p class="card-text">{{post.body}}</p>
          <a class="btn btn-success" href="{%url 'update_announcements' post.id %}" role="button">Update</a>
          <a class="btn btn-danger" href="{%url 'delete_announcements' post.id %}" role="button">Delete</a>
        </div>
    </div> <br/><br/>
    
{% endfor %}

 
{% endblock%}