{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title %} St.Kizito {% endblock %} </title>
    <!---bootstrap start-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!---bootstrap end-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> <!-- /static_url/-->
    
    
</head>
<body>
    <ul  class="nav nav-tabs" class="body">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'announcements'%}">Add Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'review_announcements'%}">Review Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        <li>
          <span>Hello {{request.user}}</span>
        </li>
    </ul>
    <div class="header">
        <h2 class='header'>Digital Announcements </h2>
    </div>
    {% for message in messages %}
      <p class="msg">{{ message }}</p>
    {% endfor %}
    {% block content%}
    {% endblock %}
    <div class="card-footer text-muted">
        <div class="card text-center">
            <h5 class="card-title">Special Footer</h5>
            <p class="card-text">If God is with me who can be against me</p>
        </div>
    </div>
    
    <!--bootstrap javascript start-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!--bootstrap javascript end-->
</body>
</html>